pricecheck/secret.py
pricecheck/__pycache__
items/__pycache__
node_modules
Include
Lib
frontend/node_modules
Scripts
pyvenv.cfg
db.sqlite3
*.pyc
*.js
!jest.config.js
*.d.ts
static

# CDK asset staging directory
.cdk.staging
cdk.out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
