.class-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.main-container {
    display: flex;
}

html, body, #root, .Test {
    height: 100%;
    margin-top: 10%;
    background-color:rgb(61, 61, 61)
  }

.home {
    margin-top: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    background-image: linear-gradient(#ff8a00, #e52e71);
}

.gradient {
    background-image: linear-gradient(#ff8a00, #e52e71);
}

.box{
    height:200px;
    width:200px;
    background:linear-gradient(rgba(250,0,0,0.5),transparent);
    background-color:orange /*this your primary color*/
  }

  td, th {
    text-align: center;
    vertical-align: middle;
  }
