commands:
    01_install node:
        command: |
          curl -sL https://rpm.nodesource.com/setup_16.x | sudo bash -
          yum install -y nodejs
container_commands:
  02_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pricecheck.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:    
    /static: static
    /static_files: static_files
  aws:elasticbeanstalk:container:python:
    WSGIPath: pricecheck.wsgi:application